@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper

@{
	Layout = null;
    
    var rootContents = UmbracoHelper.ContentAtRoot();
    var settings = rootContents?.FirstOrDefault(x => x.ContentType.Alias == "settingsPage") ?? null;
    var officeLocation = settings?.Value<string>("officeLocation") ?? "";
    var siteName = settings?.Value<string>("siteName") ?? "Onatrix";
    var siteTagline = settings?.Value<string>("siteTagline") ?? "Financial Solutions";
    var currentPage =  Umbraco.AssignedContentItem;

	var pageTitle = !string.IsNullOrEmpty(ViewBag?.Title) ? $"{ViewBag?.Title} | {siteName} - {siteTagline}" : $"{siteName} - {siteTagline}";
}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://kit.fontawesome.com/a576612222.css" crossorigin="anonymous">
		<link rel="stylesheet" href="/css/main.css">
		<title>@pageTitle</title>
	</head>
	<body>
		<div class="wrapper">
			<header>
                @await Html.PartialAsync("partials/static/topbar.cshtml")
                @await Html.PartialAsync("partials/static/header.cshtml")
				@if(!string.IsNullOrEmpty(ViewBag.Title) && currentPage.Level > 1)
				{
					@await Html.PartialAsync("partials/static/breadcrumb.cshtml")
				}
            </header>
			@if(currentPage.Name == "Contact"){
				@await Html.PartialAsync("partials/static/contactFooter.cshtml")
			<main>
				@RenderBody()
			</main>
				@await Html.PartialAsync("partials/static/footer.cshtml")
			}
			else{
				<main>
					@RenderBody()
				</main>
				@if(!string.IsNullOrEmpty(ViewBag.Title) && currentPage.Level > 1)
				{
					@await Html.PartialAsync("partials/static/contactFooter.cshtml")
				}
				@await Html.PartialAsync("partials/static/footer.cshtml")
			}
		</div>
	</body>
</html>