<?xml version="1.0" encoding="utf-8"?>
<Content Key="769d5feb-f150-435b-afd5-4fa547c75872" Alias="Services" Level="2">
  <Info>
    <Parent Key="06eebc39-7b93-43b5-b8e3-cbd34ea995b2">Home</Parent>
    <Path>/Home/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceListPage</ContentType>
    <CreateDate>2024-09-09T01:10:33</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bea31f3b-11a4-4d48-aea0-05b7b35793eb">serviceListPage</Template>
  </Info>
  <Properties>
    <pageHeadline>
      <Value><![CDATA[We Provide The Solutions To Grow Your Business Faster]]></Value>
    </pageHeadline>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
  </Properties>
</Content>