<?xml version="1.0" encoding="utf-8"?>
<Content Key="52a47050-345d-4b3f-b198-ae5ef7c50ed3" Alias="Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Settings</Path>
    <Trashed>false</Trashed>
    <ContentType>settingsPage</ContentType>
    <CreateDate>2024-09-04T12:52:51</CreateDate>
    <NodeName Default="Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <aboutUsImage>
      <Value><![CDATA[[
  {
    "key": "f616de03-606f-4cbd-b950-3dc13a4507be",
    "mediaKey": "62645c23-e2f7-4820-8f9a-d8efe4f7e541",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutUsImage>
    <backgroundImage1>
      <Value><![CDATA[[
  {
    "key": "76ac785e-be3c-4ae9-b8cc-13db83ce586f",
    "mediaKey": "de76626b-a84f-4e00-bdad-c089a65a606f",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </backgroundImage1>
    <backgroundImage2>
      <Value><![CDATA[[
  {
    "key": "4189d731-e86b-4edb-8d6e-4062bb4396fc",
    "mediaKey": "34048227-a7cd-4a4e-92ee-f79385d8d3cc",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </backgroundImage2>
    <breadcrumbsImage1>
      <Value><![CDATA[[
  {
    "key": "b708ebf1-7433-45ae-93da-ea703b1b8cc3",
    "mediaKey": "1edfcdb2-a705-4383-9b34-64b55656c9f4",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </breadcrumbsImage1>
    <breadcrumbsImage2>
      <Value><![CDATA[[
  {
    "key": "41032946-7435-4a49-8130-73008f0dc539",
    "mediaKey": "d98c337e-ef5d-4344-9509-7179e5ef9802",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </breadcrumbsImage2>
    <inputBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "ed35f82e-142c-41a3-9f13-52dfc8593a97",
    "mediaKey": "34251484-b802-46dc-b00b-10336021639e",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </inputBackgroundImage>
    <officeEmailAddress>
      <Value><![CDATA[onatrix@onatrix.com]]></Value>
    </officeEmailAddress>
    <officeLocation>
      <Value><![CDATA[Klarabergsviadukten 90, 111 64 Stockholm]]></Value>
    </officeLocation>
    <officePhoneNumber>
      <Value><![CDATA[070-1234567]]></Value>
    </officePhoneNumber>
    <portraitImage>
      <Value><![CDATA[[
  {
    "key": "8ee1c0f2-cd82-4869-8fac-4a926e5ea024",
    "mediaKey": "63ce87b9-995e-4a13-85c6-75fa9ea9459c",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </portraitImage>
    <siteLogotype>
      <Value><![CDATA[[
  {
    "key": "89a8dde0-e3b2-456f-8402-068def7a9c9b",
    "mediaKey": "522bfe21-74d1-4581-b97d-bd3b170a8f20",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogotype>
    <siteMap>
      <Value><![CDATA[[
  {
    "key": "7183b9d2-a22b-408d-a3da-7d79ac013b78",
    "mediaKey": "6356a54a-4942-40a1-a2c4-00082403fdb1",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteMap>
    <siteName>
      <Value><![CDATA[Onatrix]]></Value>
    </siteName>
    <siteTagline>
      <Value><![CDATA[Financial solutions for you]]></Value>
    </siteTagline>
    <socialMediaPlatforms>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "411a4675-39b9-47c9-a8b4-6fee10e6b037",
      "udi": "umb://element/71c149efabbe447393ce4aed20063a34",
      "platform": "[\u0022Facebook\u0022]",
      "platformUrl": "https://facebook.com",
      "platformIcon": "fa-brands fa-facebook"
    },
    {
      "contentTypeKey": "411a4675-39b9-47c9-a8b4-6fee10e6b037",
      "udi": "umb://element/e645ab81e3be48d583e37d323064dcb6",
      "platform": "[\u0022Twitter/X\u0022]",
      "platformUrl": "https://twitter.com",
      "platformIcon": "fa-brands fa-x-twitter"
    },
    {
      "contentTypeKey": "411a4675-39b9-47c9-a8b4-6fee10e6b037",
      "udi": "umb://element/69ce8eb385b8478a91154191843797ab",
      "platform": "[\u0022Youtube\u0022]",
      "platformUrl": "https://youtube.com",
      "platformIcon": "fa-brands fa-youtube"
    },
    {
      "contentTypeKey": "411a4675-39b9-47c9-a8b4-6fee10e6b037",
      "udi": "umb://element/faec01c5ef674ff8b60a36ba7b60ee65",
      "platform": "[\u0022LinkedIn\u0022]",
      "platformUrl": "https://linkedin.com",
      "platformIcon": "fa-brands fa-linkedin"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/71c149efabbe447393ce4aed20063a34",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/e645ab81e3be48d583e37d323064dcb6",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/69ce8eb385b8478a91154191843797ab",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/faec01c5ef674ff8b60a36ba7b60ee65",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </socialMediaPlatforms>
  </Properties>
</Content>