@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    var formTitle = Model?.Content.Value<string>("formTitle");
    var formIngress = Model?.Content.Value<string>("formIngress");
    var formSubtitle = Model?.Content.Value<string>("formSubtitle");

    var bigForm = Model?.Content.Value<Umbraco.Cms.Core.Models.Blocks.BlockListModel>("bigForm");
}

 <form class="call-back-form" novalidate>
    <div class="form-header bg-primary">
        <h3>@formTitle</h3>
        <h2>@formSubtitle</h2>
    </div>
    <div class="form-content">
        <p class="form-ingress">@formIngress</p>
        @using (Html.BeginUmbracoForm("SubmitHomeForm", "ContactSurface", FormMethod.Post))
        {
            @Html.GetBlockListHtml(bigForm)
        }
    </div>
</form>