@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.PropertyEditors.ValueConverters;

@{
	var selection = Umbraco.Content(Guid.Parse("4e40c3c9-509c-4923-94b6-5ebb51053830"))
    .ChildrenOfType("projectItemTemplate")
    .Where(x => x.IsVisible())
    .Take(4);
}

@foreach (var item in selection)
{
    var projectCategory = item?.Content.Value<string>("projectCategory");
    var projectHeadline = item?.Content.Value<string>("projectHeadline");
    var projectUrl = item?.Content.Value<string>("projectUrl");
    var projectImg = item?.Content.Value<IPublishedContent>("projectImg")?.Url() ?? null;
    <div class="project-card ">
        <img src="@projectImg" alt=""/>
        <a href="@projectUrl" class="card-footer">
        <h5>@item.Name</h5>
        <p>@projectCategory</p>
        </a>
    </div>
}




