<?xml version="1.0" encoding="utf-8"?>
<DataType Key="eea7e5de-fe4f-422c-b6e4-e53d5645ddd7" Alias="Callback Form - Block List " Level="1">
  <Info>
    <Name>Callback Form - Block List </Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "57503c7d-e17a-4ea2-88f7-08779abca342",
      "label": "Input Text"
    },
    {
      "contentElementTypeKey": "f3f96ef5-96e9-4b7e-9c2f-7a558edaa294",
      "label": "Input Text Area"
    },
    {
      "contentElementTypeKey": "44565220-3b4e-44c7-9282-f2c601f8916a",
      "label": "Button"
    },
    {
      "contentElementTypeKey": "91bc2a0d-29ce-40c5-909d-87f25932592a",
      "label": "DropDownMenu"
    }
  ]
}]]></Config>
</DataType>