<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0dae98ec-9db1-4814-a61f-83fa712ef5c8" Alias="Form Button - Button Types " Level="1">
  <Info>
    <Name>Form Button - Button Types </Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Submit",
    "Reset"
  ]
}]]></Config>
</DataType>