<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c179f3da-5bc1-485f-9ef2-3ad9db5a3b23" Alias="Image Slider - Slides - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Image Slider - Slides - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "0d572b4d-2553-4905-9845-6af87ad76059",
      "label": "**slide item** - {=imageDescription}"
    }
  ]
}]]></Config>
</DataType>