<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e8eacd1a-a38e-4c94-8297-672a8d0f3024" Alias="InputText - Input Types" Level="1">
  <Info>
    <Name>InputText - Input Types</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "text",
    "email",
    "phone"
  ]
}]]></Config>
</DataType>