<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c70f445c-71a2-449a-97c0-5737eaeb9449" Alias="Project Slider -  Slides" Level="1">
  <Info>
    <Name>Project Slider -  Slides</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "f9c6f9f3-f130-4188-b85e-c1e68b9ed748",
      "label": "Project Slide"
    }
  ]
}]]></Config>
</DataType>