<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6d39e859-2408-4d5b-ae2a-ddc41e58fb91" Alias="Team Slider - Slides " Level="1">
  <Info>
    <Name>Team Slider - Slides </Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "f3145189-a1e5-45e9-8019-7e937148f907",
      "label": "Slides"
    }
  ]
}]]></Config>
</DataType>