<?xml version="1.0" encoding="utf-8"?>
<Media Key="92d23295-32ca-4e16-a6eb-6b0795f8d3bc" Alias="Aaron-lambert-team.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AaronLambertTeamsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T21:29:02</CreateDate>
    <NodeName Default="Aaron-lambert-team.svg" />
    <SortOrder>42</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/m4hha2gr/aaron-lambert-team.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>