<?xml version="1.0" encoding="utf-8"?>
<Media Key="4889227d-7fb5-458e-8951-d0257f711d89" Alias="Aj-carter-team.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AjCarterTeamsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T21:28:37</CreateDate>
    <NodeName Default="Aj-carter-team.svg" />
    <SortOrder>41</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/r4pdxkvo/aj-carter-team.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>