<?xml version="1.0" encoding="utf-8"?>
<Media Key="ccc1eb40-c11e-41bb-8fd5-5d463e744745" Alias="Brandon-kerr-member.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BrandonKerrMembersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T21:35:53</CreateDate>
    <NodeName Default="Brandon-kerr-member.svg" />
    <SortOrder>44</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wjlgglqf/brandon-kerr-member.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>