<?xml version="1.0" encoding="utf-8"?>
<Media Key="6700f6e5-d28c-4c07-bb7a-7baab846b1ea" Alias="card-2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/card2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T09:57:23</CreateDate>
    <NodeName Default="card-2.svg" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/c3flfbmx/card-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>