<?xml version="1.0" encoding="utf-8"?>
<Media Key="6e82816c-40b8-47e5-8019-7c94470c9840" Alias="card-6.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/card6svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T10:07:01</CreateDate>
    <NodeName Default="card-6.svg" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ty4cbdfd/card-6.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>