<?xml version="1.0" encoding="utf-8"?>
<Media Key="975b0ee6-cd53-4229-afc6-826b8481d7d2" Alias="card-5.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/card5svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T10:06:39</CreateDate>
    <NodeName Default="card-5.svg" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/cszps3ki/card-5.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>