<?xml version="1.0" encoding="utf-8"?>
<Media Key="330bb4d9-5e38-422b-984d-eb43b89617e7" Alias="card-4.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/card4svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T10:06:04</CreateDate>
    <NodeName Default="card-4.svg" />
    <SortOrder>21</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fmeltujd/card-4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>