<?xml version="1.0" encoding="utf-8"?>
<Media Key="a44ea9de-5173-4374-b2d6-b06c578c8e5a" Alias="CEO-Portrait.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CEOPortraitsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-23T12:48:47</CreateDate>
    <NodeName Default="CEO-Portrait.svg" />
    <SortOrder>37</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fqkoyrti/ceo-portrait.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>