<?xml version="1.0" encoding="utf-8"?>
<Media Key="de76626b-a84f-4e00-bdad-c089a65a606f" Alias="Dotted-backround.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DottedBackroundsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T15:23:34</CreateDate>
    <NodeName Default="Dotted-backround.svg" />
    <SortOrder>31</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/thpnipcu/dotted-backround.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>