<?xml version="1.0" encoding="utf-8"?>
<Media Key="df052da1-6d0f-4923-9749-f7627629f467" Alias="fossilgroup.svg" Level="2">
  <Info>
    <Parent Key="4a7e1eaf-5bd0-4f49-a617-5ba6c77b6e4f">Partners</Parent>
    <Path>/Partners/fossilgroupsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-05T14:47:32</CreateDate>
    <NodeName Default="fossilgroup.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/koikopiu/fossilgroup.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>