<?xml version="1.0" encoding="utf-8"?>
<Media Key="8b469bdb-a75a-4190-a401-69dcd8c7609d" Alias="freedombird.svg" Level="2">
  <Info>
    <Parent Key="4a7e1eaf-5bd0-4f49-a617-5ba6c77b6e4f">Partners</Parent>
    <Path>/Partners/freedombirdsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-05T14:46:10</CreateDate>
    <NodeName Default="freedombird.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fetoi0kb/freedombird.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>