<?xml version="1.0" encoding="utf-8"?>
<Media Key="d98c337e-ef5d-4344-9509-7179e5ef9802" Alias="Globe-right.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GlobeRightsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T19:37:48</CreateDate>
    <NodeName Default="Globe-right.svg" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rshc2o0g/globe-right.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>