<?xml version="1.0" encoding="utf-8"?>
<Media Key="80c48aa1-5fcc-4f3f-9f06-576d5f093d04" Alias="globe-logo.svg" Level="2">
  <Info>
    <Parent Key="4a7e1eaf-5bd0-4f49-a617-5ba6c77b6e4f">Partners</Parent>
    <Path>/Partners/globeLogosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-05T14:47:17</CreateDate>
    <NodeName Default="globe-logo.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/km1hmywx/globe-logo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>