<?xml version="1.0" encoding="utf-8"?>
<Media Key="1edfcdb2-a705-4383-9b34-64b55656c9f4" Alias="Globe-left.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GlobeLeftsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T19:37:36</CreateDate>
    <NodeName Default="Globe-left.svg" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ibyh15a4/globe-left.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>