<?xml version="1.0" encoding="utf-8"?>
<Media Key="34048227-a7cd-4a4e-92ee-f79385d8d3cc" Alias="green-background-slope.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/greenBackgroundSlopesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T15:23:45</CreateDate>
    <NodeName Default="green-background-slope.svg" />
    <SortOrder>32</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0u5lnvww/green-background-slope.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>