<?xml version="1.0" encoding="utf-8"?>
<Media Key="f26c7a6f-e169-46fd-aec8-0e2c4c09b0da" Alias="hero-background.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/heroBackgroundsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-03T12:27:05</CreateDate>
    <NodeName Default="hero-background.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/txdn2eds/hero-background.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>