<?xml version="1.0" encoding="utf-8"?>
<Media Key="5d9319fa-abfc-4bb0-96ca-c9cf50f97b58" Alias="identity.svg" Level="2">
  <Info>
    <Parent Key="4a7e1eaf-5bd0-4f49-a617-5ba6c77b6e4f">Partners</Parent>
    <Path>/Partners/identitysvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-05T14:46:28</CreateDate>
    <NodeName Default="identity.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bcsddp5h/identity.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>