<?xml version="1.0" encoding="utf-8"?>
<Media Key="890782f3-68c8-42ff-bbe7-930cd230a00d" Alias="kevin-gardner.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/kevinGardnersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-23T14:43:48</CreateDate>
    <NodeName Default="kevin-gardner.svg" />
    <SortOrder>38</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ae5lk04t/kevin-gardner.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>