<?xml version="1.0" encoding="utf-8"?>
<Media Key="522bfe21-74d1-4581-b97d-bd3b170a8f20" Alias="Logo-onatrix.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/LogoOnatrixsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-04T12:51:52</CreateDate>
    <NodeName Default="Logo-onatrix.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0nbjtmgk/logo-onatrix.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>