<?xml version="1.0" encoding="utf-8"?>
<Media Key="a44a4967-09ad-471c-8264-aff8e5165aec" Alias="Miranda-dayton-member.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MirandaDaytonMembersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T21:36:34</CreateDate>
    <NodeName Default="Miranda-dayton-member.svg" />
    <SortOrder>45</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/sx0oqrvw/miranda-dayton-member.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>