<?xml version="1.0" encoding="utf-8"?>
<Media Key="8c3939fc-f816-4abc-92b4-58321161e74f" Alias="multi-cultural-staff.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/multiCulturalStaffsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-05T12:19:30</CreateDate>
    <NodeName Default="multi-cultural-staff.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/b0cjw1qn/multi-cultural-staff.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>