<?xml version="1.0" encoding="utf-8"?>
<Media Key="92cb8ccb-42ca-4e48-9e95-7b23c9066b25" Alias="natural.svg" Level="2">
  <Info>
    <Parent Key="4a7e1eaf-5bd0-4f49-a617-5ba6c77b6e4f">Partners</Parent>
    <Path>/Partners/naturalsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-05T14:46:47</CreateDate>
    <NodeName Default="natural.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/heyhs2gr/natural.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>