<?xml version="1.0" encoding="utf-8"?>
<Media Key="dca02232-4655-4340-8fb9-e7b6ef23a8d5" Alias="our-story.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ourStorysvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-04T16:24:51</CreateDate>
    <NodeName Default="our-story.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ycpbepso/our-story.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>