<?xml version="1.0" encoding="utf-8"?>
<Media Key="d45a6a34-4186-4e99-9016-16af7d823bbe" Alias="our-story-globe.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ourStoryGlobesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-04T16:22:52</CreateDate>
    <NodeName Default="our-story-globe.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/y1lpqnu3/our-story-globe.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>