<?xml version="1.0" encoding="utf-8"?>
<Media Key="4a7e1eaf-5bd0-4f49-a617-5ba6c77b6e4f" Alias="Partners" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Partners</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-09T10:45:33</CreateDate>
    <NodeName Default="Partners" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties />
</Media>