<?xml version="1.0" encoding="utf-8"?>
<Media Key="e3907da6-96ef-465e-ba5c-ac0ca35647dc" Alias="project-3-small.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/project3Smallsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T13:34:51</CreateDate>
    <NodeName Default="project-3-small.svg" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ktadeapu/project-3-small.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>