<?xml version="1.0" encoding="utf-8"?>
<Media Key="e02bfee3-42f0-407c-a34c-af6ab898c574" Alias="project2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/project2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-05T12:47:35</CreateDate>
    <NodeName Default="project2.svg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/cfbjsaxl/project2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>