<?xml version="1.0" encoding="utf-8"?>
<Media Key="cc4344f4-b857-45c2-bb34-81db197d9a46" Alias="projects-1-to-1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/projects1To1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-16T16:00:46</CreateDate>
    <NodeName Default="projects-1-to-1.svg" />
    <SortOrder>36</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/a12pclsm/projects-1-to-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>