<?xml version="1.0" encoding="utf-8"?>
<Media Key="6dd5e45c-5676-4c10-b129-47c26f0abbf9" Alias="project-2-small.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/project2Smallsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T13:34:22</CreateDate>
    <NodeName Default="project-2-small.svg" />
    <SortOrder>28</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vzmhpd1n/project-2-small.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>