<?xml version="1.0" encoding="utf-8"?>
<Media Key="601b67fc-7217-4fc7-94f9-14d953a2c61b" Alias="project-details-middle.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/projectDetailsMiddlesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-16T15:50:18</CreateDate>
    <NodeName Default="project-details-middle.svg" />
    <SortOrder>35</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/b1nltaqm/project-details-middle.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>