<?xml version="1.0" encoding="utf-8"?>
<Media Key="4790823d-49fd-4aad-b2c3-67d225797c66" Alias="project3.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/project3svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-05T12:47:50</CreateDate>
    <NodeName Default="project3.svg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/z25dfjpg/project3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>