<?xml version="1.0" encoding="utf-8"?>
<Media Key="ea40cd79-335e-4528-a708-f121cc667074" Alias="project-4-small.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/project4Smallsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T13:36:03</CreateDate>
    <NodeName Default="project-4-small.svg" />
    <SortOrder>30</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rnyoeccf/project-4-small.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>