<?xml version="1.0" encoding="utf-8"?>
<Media Key="2e321dc8-a1e3-45a8-a217-b5245a219708" Alias="project4.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/project4svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-05T12:48:04</CreateDate>
    <NodeName Default="project4.svg" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hkqjbthy/project4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>