<?xml version="1.0" encoding="utf-8"?>
<Media Key="75e30fb4-7cb6-4ffe-b3f7-3d810f9d02af" Alias="project1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/project1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-05T12:46:30</CreateDate>
    <NodeName Default="project1.svg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/i0zedf3n/project1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>