<?xml version="1.0" encoding="utf-8"?>
<Media Key="3f94579e-262d-4d76-93d5-84afde15e697" Alias="project-1-small.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/project1Smallsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T13:31:26</CreateDate>
    <NodeName Default="project-1-small.svg" />
    <SortOrder>27</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ntvdnxjw/project-1-small.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>