<?xml version="1.0" encoding="utf-8"?>
<Media Key="a37bfe73-46d5-4f40-8017-0f01f37acd9d" Alias="Rating.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Ratingsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T19:34:22</CreateDate>
    <NodeName Default="Rating.svg" />
    <SortOrder>39</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qfbnsqoo/rating.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>