<?xml version="1.0" encoding="utf-8"?>
<Media Key="7a8edd0d-517b-4495-be31-c0b477037d83" Alias="Signature.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Signaturesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-04T14:49:32</CreateDate>
    <NodeName Default="Signature.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/53qczgda/signature.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>