<?xml version="1.0" encoding="utf-8"?>
<Media Key="49f37762-7896-4cd3-a6ab-35559aabbe1c" Alias="simpleaf.svg" Level="2">
  <Info>
    <Parent Key="4a7e1eaf-5bd0-4f49-a617-5ba6c77b6e4f">Partners</Parent>
    <Path>/Partners/simpleafsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-05T14:47:03</CreateDate>
    <NodeName Default="simpleaf.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/sdffdk2n/simpleaf.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>