<?xml version="1.0" encoding="utf-8"?>
<Media Key="698fa61b-4c14-4300-9223-e8e9708c4bdb" Alias="staff-meeting.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/staffMeetingsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-05T12:20:05</CreateDate>
    <NodeName Default="staff-meeting.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3end1cyp/staff-meeting.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>