<?xml version="1.0" encoding="utf-8"?>
<Media Key="26c856c5-ed9b-4f75-8a7a-fbe5d1aaf4cb" Alias="success-story-globe.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/successStoryGlobesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-05T12:12:37</CreateDate>
    <NodeName Default="success-story-globe.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/g5vhvrea/success-story-globe.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>