<?xml version="1.0" encoding="utf-8"?>
<Media Key="196c5086-5b78-407d-94da-1cd24dfdd3a0" Alias="team-meeting.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/teamMeetingsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-16T14:09:08</CreateDate>
    <NodeName Default="team-meeting.svg" />
    <SortOrder>34</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/otwn341d/team-meeting.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>