<?xml version="1.0" encoding="utf-8"?>
<Media Key="10b57a86-045d-4433-872d-5c227392ceeb" Alias="Tina-fox-member.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TinaFoxMembersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T21:35:32</CreateDate>
    <NodeName Default="Tina-fox-member.svg" />
    <SortOrder>43</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/otdbp2sg/tina-fox-member.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>