@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper
@{
    var rootContents = UmbracoHelper.ContentAtRoot();
    var settings = rootContents?.FirstOrDefault(x => x.ContentType.Alias == "settingsPage") ?? null;
    var officeLocation = settings?.Value<string>("officeLocation") ?? "";
    var socialMedia = settings?.Value<IEnumerable<Umbraco.Cms.Core.Models.Blocks.BlockListItem>>("socialMediaPlatforms") ?? null;
}

<div class="top-header bg-primary">
    <div class="container">
        <div class="address-info">
            <p>@officeLocation</p>
        </div>
        <div class="social-icons">
            @foreach (var social in socialMedia)
            {
                var platformUrl = social?.Content?.Value<string>("platformUrl");
                var platformIcon = social?.Content?.Value<string>("platformIcon");

                <a href="@platformUrl" target="_blank" aria-label="Facebook">
                    <i class="@platformIcon"></i>
                </a> 
            }
        </div>
    </div>
</div>